@import "tailwindcss";

html, body {
	overscroll-behavior: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

@keyframes toastIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes toastOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.animate-toastIn {
	animation: toastIn 0.3s ease-out forwards;
}

.animate-toastOut {
	animation: toastOut 0.2s ease-in forwards;
	will-change: transform, opacity;
}

@layer utilities {
	@keyframes slideInLeft {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}
	.animate-slideInLeft {
		animation: slideInLeft 0.2s ease-out;
	}
}

@layer utilities {
	@keyframes slideInRight {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}
	.animate-slideInRight {
		animation: slideInRight 0.2s ease-out;
	}
}